<p-toast></p-toast>

<div class="app-shell">
  <p-toolbar styleClass="app-toolbar">
    <ng-template #start>
      <a routerLink="/" class="app-brand">
        <img src="assets/images/logo-xtend-transparent.png" alt="Xtend" class="app-logo" />
      </a>

      <p-button
        class="md:hidden"
        rounded="true"
        variant="outlined"
        icon="pi pi-bars"
        (click)="invertSidePanelVisibility()">
      </p-button>
    </ng-template>

    <ng-template #center>
      <div id="mainTitle" class="app-title">
        {{ appMgr.projectTitle() }}
      </div>
    </ng-template>

    <ng-template #end>
      <p-button
        [icon]="getThemeButtonIcon()"
        [label]="getThemeButtonLabel()"
        [severity]="getThemeButtonSeverity()"
        variant="outlined"
        rounded="true"
        (click)="themeMenu.toggle($event)">
      </p-button>

      <p-menu #themeMenu [model]="themeOptions" [popup]="true"></p-menu>
    </ng-template>
  </p-toolbar>

  <div class="md:hidden">
    <p-drawer
      id="mainLeftDrawer"
      [style]="{ width: '16rem', 'z-index': 2000 }"
      [(visible)]="leftDrawerVisible"
      [modal]="false"
      [closeOnEscape]="true"
      [closable]="true">
      <ng-template #header>
        <a routerLink="/" class="app-brand">
          <img src="assets/images/logo-xtend-transparent.png" alt="Xtend" class="app-logo app-logo--drawer" />
        </a>
      </ng-template>

      <app-host-menu (menuClick)="onMenuClick()"></app-host-menu>
    </p-drawer>
  </div>

  <div class="app-layout">
    <aside class="app-sidebar hidden md:block">
      <app-host-menu></app-host-menu>
    </aside>

    <main class="app-content">
      <div class="app-content-surface">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
