@let entName=entityName();

@if (entName!=null) {

<h1>{{entName}}</h1>
  <p-toolbar>
    <ng-template #center>
      <p-button id="btn-new" icon="pi pi-plus" (onClick)="newEntity()" [loading]="newing()"></p-button>
      <p-button id="btn-reload" icon="pi pi-refresh" [disabled]="!canReload()" (onClick)="reloadList()" [loading]="updating()"></p-button>
      <p-button id="btn-delete" icon="pi pi-trash" [disabled]="!selectedEntity()" (onClick)="deleteSelected()" [loading]="deleting()"></p-button>
      <p-button id="btn-save" icon="pi pi-save" [disabled]="!canSave()" (onClick)="save()" [loading]="saving()"></p-button>
    </ng-template>
  </p-toolbar>
  <p-tabs [value]="viewMode()" >
    <p-tablist >
      <p-tab value="list">List</p-tab>
      <p-tab value="edit" [disabled]="!canEdit()">Edit</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="list" >
        @if (store?.loading()) {
          <p-progress-spinner />
        } @else {
          <xt-render displayMode="LIST_VIEW" [value]="store?.entities()" (outputs)="outputChanged($event)" [valueType]="entityName()" ></xt-render>
        }
      </p-tabpanel>

      <p-tabpanel value="edit">
        @if (canEdit()) {
          @let mainForm=editForm();
          <div [formGroup]="mainForm">
            <xt-render displayMode="FULL_EDITABLE" [formGroup]="mainForm" subName="editor" [valueType]="entityName()" ></xt-render>
          </div>
          }
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>

} @else {
  <h1>No entity to manage.</h1>
}
