name: Website update from Readme
on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths:
      - '**/README.md'
      - 'docs/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ env.branch }}
          token: ${{secrets.DONTCODE_ACTIONS_TOKEN}}
          fetch-depth: 1
      - name: Git config user
        uses: snow-actions/git-config-user@v1.0.0
        with:
          name: Ng-xtend
          email: developer@dont-code.net
      - name: Install Pandoc
        uses: pandoc/actions/setup@v1
      - name: Run pandoc
        run: |
          mkdir --parents dist/ng-xtend-website/docs 
          mkdir --parents dist/ng-xtend-website/apps/xt-plugin-tester
          mkdir --parents dist/ng-xtend-website/apps/xt-host
          pandoc -f markdown -t html --file-scope=true --standalone --highlight-style=zenburn --metadata title-meta="ng-xtend framework" -V maxwidth="850px" -V fontsize="16pt" -V backgroundcolor="#13171F" -V fontcolor="#D1D5DB" -V linkcolor="#F43F5E" -V pagetitle="ng-xtend" -H docs/matomo-script.html -o dist/ng-xtend-website/index.html README.md
          pandoc -f markdown -t html --file-scope=true --standalone --highlight-style=zenburn --metadata title-meta="ng-xtend plugin tester" -V maxwidth="850px" -V fontsize="16pt" -V backgroundcolor="#13171F" -V fontcolor="#D1D5DB" -V linkcolor="#F43F5E" -V pagetitle="ng-xtend - Plugin tester" -H docs/matomo-script.html -o dist/ng-xtend-website/apps/xt-plugin-tester/index.html apps/xt-plugin-tester/README.md
          pandoc -f markdown -t html --file-scope=true --standalone --highlight-style=zenburn --metadata title-meta="ng-xtend host application" -V maxwidth="850px" -V fontsize="16pt" -V backgroundcolor="#13171F" -V fontcolor="#D1D5DB" -V linkcolor="#F43F5E" -V pagetitle="ng-xtend - Host application" -H docs/matomo-script.html -o dist/ng-xtend-website/apps/xt-host/index.html apps/xt-host/README.md
          cd dist/ng-xtend-website
          sed -i 's/README.md/index.html/g' index.html apps/xt-plugin-tester/index.html apps/xt-host/index.html
          cd ../../docs
          cp -r logos ../dist/ng-xtend-website/docs
          cp -r screenshots ../dist/ng-xtend-website/docs
          cd ../apps/xt-plugin-tester
          cp -r docs ../../dist/ng-xtend-website/apps/xt-plugin-tester
      - name: Update Ng-xtend.dev website from Readme
        uses: wlixcc/SFTP-Deploy-Action@v1.2.6
        with:
          username: ${{secrets.NG_XTEND_DEV_WEBSITE_USER}}
          password: ${{secrets.NG_XTEND_DEV_WEBSITE_PASSWORD}}
          local_path: './dist/ng-xtend-website/*'
          remote_path: '/www'
          server: 'ng-xtend.dev'
          port: ${{secrets.DONTCODE_WEBSITE_SSH_PORT}}
          sftp_only: 'true'
          delete_remote_files: 'false'
